#clip{
    height: 100px;
    width: 100px;
    background-color: orangered;
    clip-path: polygon(50% 39%, 100% 1%, 81% 100%, 18% 100%, 0% 38%);
}
span{
    background-color: black;
    border-radius: 100%;
    width: 40px;
    margin: 10px;
    height: 30px;
    padding: 10px;
}
span:nth-child(2){
    
}
span:nth-child(1){
    
}
.parent{
    /* border: 3px solid red; */
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}